.header-container {
    height:100%;
    position:relative;
    background-image: url('../../../images/internet-bg.webp');
    background-size: cover;
    /* background-color: lightcyan; */
    /* opacity: 0.8; */
}
/* .header-container::after {
    height:800px;
    content:' ';
    position: absolute;
    top: 0;
    width: 28%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
} */